<h1>{{title}}</h1> 

<div *ngIf="success_msg; then update_msg; else error_msg">
    <span class="bg-success">User added successfully...</span>
</div>

<ng-template #error_msg>
    <span class="bg-danger">
        Error occured! user was not added
    </span>
</ng-template>

<ng-template #update_msg>
    <span class="bg-success">
        User added succesfully under update message block....
    </span>
</ng-template>

<h2>Learning ngFor</h2>
<ul>
    <li *ngFor="let contact of contacts; index as i; first as f">
        <div *ngIf="f"><span class="bg-success">This is first Row from the table....</span></div>

        {{i}} - {{contact.firstName}} {{contact.lastName}}
    </li>
</ul>
<h2>new table with even and odd</h2>
<ul>
    <li *ngFor="let contact of contacts; even as e; odd as o">
        <div *ngIf="e"><span class="bg-primary"> {{contact.firstName}} {{contact.lastName}} </span></div>

        <div *ngIf="o"><span class="bg-info"> {{contact.firstName}} {{contact.lastName}} </span></div>
       
    </li>
</ul>

<h2>Learning ngSwitch</h2>
<div [ngSwitch]="superPower">
    <div *ngSwitchCase="'wonderWoman'">Display Wonder woman</div>
    <div *ngSwitchCase="'spiderMan'">Display spider man</div>
    <div *ngSwitchCase="'superMan'">Display super man</div>
    <div *ngSwitchCase="'ironMan'">Display Iron man</div>
    <div *ngSwitchDefault="'ironMan'">Display Default value</div>
</div>

<h2>Learning ngStyle</h2>
<div [ngStyle]="{'background-color':'green'}">This is a green div</div>
<div [ngStyle]="{'background-color':customColor}">Dynamic value</div>

<div [ngStyle]="{'background-color':txtColor === 'red'? 'red': 'blue'}">Conditional check in ngStyle</div>

<h2>Learning ngClass</h2>

<div [ngClass]="'c1'"> ngClass color applied to this div </div>










<router-outlet></router-outlet>
 